<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex flex-column justify-content-around align-items-center vh-100">
        <form class="d-flex flex-column justify-content-around" style="height: 200px" method="POST" action="/perform-password-change">
            <h3>Forgotten password?</h3>
            <input id="emailId" type="text" class="form-control" name="email" placeholder="email" required>

<!--            <input type="text" class="form-control" name="newPassword" placeholder="New password" required>-->
            <button id="submitId"  class="btn btn-primary">Submit</button>
            <p id="outputId"></p>
        </form>

        <script>
window.addEventListener('load', function () {
    document.getElementById("submitId").addEventListener("click", function (e) {
        const email = document.getElementById("emailId").value;
        const link = "www.website.com/token=12345";

        e.preventDefault();

        fetch('/reset-password-send-to-email', {
            method: 'POST',
            body: JSON.stringify({
                link: link,
                email: email
            }),
            RequestMode: 'no-cors',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            if (response.ok) {

                return response.text();
            } else {

                console.error("Error sending reset link. Status: " + response.status);
                throw new Error("Došlo je do greške.");
            }
        }).then(function (message) {


            document.getElementById("outputId").innerHTML = message;
        }).catch(function (error) {
            // Catch any network errors
            console.error("Network error: " + error.message);


            document.getElementById("outputId").innerHTML = error.message;
        });
    });
});


            </script>


    </div>
</body>
</html>
