<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Details</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column justify-content-around align-items-center vh-100">
        <form class="d-flex flex-column justify-content-around" style="height: 200px" method="POST" action="/perform-password-change">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
<!--            <input type="text" class="form-control" name="newPassword" placeholder="New password" required>-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
